<div
  class="message-container"
  *ngIf="isLoading1 || isLoading2 || isLoading3 || isLoading4 || isLoading5"
>
  <p>Realizando test</p>
  <div class="elem-box">
    <app-spinner></app-spinner>
  </div>
  <div class="elem-box">
    Prueba 1 MB...
    <mat-icon style="color: red" *ngIf="isLoading1">close</mat-icon
    ><mat-icon style="color: green" *ngIf="!isLoading1">check</mat-icon>
  </div>
  <div class="elem-box">
    Prueba 10 MB...
    <mat-icon style="color: red" *ngIf="isLoading2">close</mat-icon
    ><mat-icon style="color: green" *ngIf="!isLoading2">check</mat-icon>
  </div>
  <div class="elem-box">
    Prueba 100 MB...
    <mat-icon style="color: red" *ngIf="isLoading3">close</mat-icon
    ><mat-icon style="color: green" *ngIf="!isLoading3">check</mat-icon>
  </div>
  <div class="elem-box">
    Prueba 1000 MB...
    <mat-icon style="color: red" *ngIf="isLoading4">close</mat-icon
    ><mat-icon style="color: green" *ngIf="!isLoading4">check</mat-icon>
  </div>
  <div class="elem-box">
    Prueba 10000 MB...
    <mat-icon style="color: red" *ngIf="isLoading5">close</mat-icon
    ><mat-icon style="color: green" *ngIf="!isLoading5">check</mat-icon>
  </div>
</div>
<div
  class="message-container"
  *ngIf="
    !isLoading1 && !isLoading2 && !isLoading3 && !isLoading4 && !isLoading5
  "
>
    <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    <canvasjs-chart [options]="chartOptions2"></canvasjs-chart>
</div>